body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.Border-top-footer {
  border-top: 1px solid #555;
  width: 100%;
}
.top-desc-title .title {
  font-size: 12px;
  color: #555;
  letter-spacing: -0.3px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 8px;
}

.pagination-btn button {
  background-color: transparent;
}
.pagination-btn {
  border: 1px solid #fff;
}
/* hero section */
.carousel-caption {
  margin: 0 0 234px;
}
.hero-section img {
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.hero-img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img.freepik.com/premium-photo/friends-learning-study-group_23-2149257226.jpg?t=st=1689662930~exp=1689663530~hmac=a15bfd505e806dbc67c299475282926d9b8933049a1551a2e58768304912153d");
  background-size: cover;
  background-position: center;
  width: auto;
  height: 460px;
}
.hero-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img.freepik.com/free-photo/african-woman-teaching-children-class_23-2148892563.jpg?t=st=1689662930~exp=1689663530~hmac=cc5eb39ebc6322f056b17c361309e7cba8b023688273dd359a901e8b46b6c840");
  background-size: cover;
  background-position: center;
  width: auto;
  height: 460px;
}
.hero-img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img.freepik.com/free-photo/group-diverse-grads-throwing-caps-up-sky_53876-56031.jpg?size=626&ext=jpg&ga=GA1.1.1718449584.1686640273&semt=ais");
  background-size: cover;
  background-position: center;
  width: auto;
  height: 460px;
}
h6 {
  padding-top: 170px;
}
h1 {
  font-weight: bold;
  letter-spacing: -0.3px;
  line-height: 40px;
}

/* Image resize */

.img100 img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
ul {
  list-style: none;
}
li {
  display: block;
}
a {
  text-decoration: none;
}
/* top-area */
.top-area-1 a {
  margin-right: 5px;
}

.top-area {
  background-color: antiquewhite;
  padding: 0;
}
/* .carousel-item {
  height: 500px;
} */
.dropdown:hover .dropdown-menu {
  display: block;
}
.drop.social-link {
  margin-right: -9px;
}
.social-link ul {
  padding: 0;
  margin: 0;
}
.social-link ul li {
  list-style: none;
  display: inline;
}

.social-link ul li a i {
  font-size: 14px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 50px;
}
/* middle area */
.middle-title {
  margin-top: 8px;
}
.area-icon i {
  font-size: 14px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 50px;
  margin-top: 10px;
  box-shadow: 2px 2px 5px 0px #ccc !important;
  border: 1px solid #ccc;
}
.area-desc p {
  font-size: 12px;
  color: #555;
  letter-spacing: -0.3px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  line-height: 6px;
}
/* navbar */
.nav-item .home {
  margin-left: -10px;
}
.dropdown-menu {
  top: 100%;
  border-radius: none;
}
.dropdown-menu.show {
  top: 100%;
  border-radius: none;
}
.Navbtn {
  margin-right: 0px;
}
.Navbtn button {
  font-size: 14px;
  font-weight: 600;
}

/* Top-middle-area */
.middle-title h1 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: -0.3px;
}
.top-middle-area {
  padding: 5px 5px;
}
.timing {
  margin: 0;
}
.timing a {
  font-size: 12px;
  color: #555;
  letter-spacing: -0.3px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 4px;
}
.icon i {
  margin-left: -16px;
  margin-top: 2px;
  height: 20px;
}
.icons i {
  font-size: 14px;

  height: 24px;
  text-align: center;
  line-height: 32px;
  border-radius: 50px;
}
.HeroImage img {
  padding-bottom: 10%;
}
/* Counter */

.counter-box {
  background: #fff;
  padding: 40px 0;
  border-radius: 7px;
  box-shadow: 0 0 20px -3px #66676c;
}
h2 span {
  display: inline-block;
  margin: 15px 0;
  font-size: 50px;
  color: #000;
}
.counter-box h5 {
  font-size: 40px;
  font-weight: bold;
  line-height: 23px;
}
.counter-box p {
  font-size: 12px;
  line-height: 26px;
}

.counter-box i {
  font-size: 30px;
  color: #3399ff;
  display: block;
  padding-top: 10px;
}
/*  about us */
.AboutUs {
  margin-top: 80px;
}
.about-desc h1 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -0.3px;
}
.about-desc h2 {
  font-size: 15px;
  color: #66676c;
}
.about-desc p {
  font-size: 12px;
  color: #66676c;
}
.user-profile .user-img img {
  width: 37px;
  border-radius: 55px;
  margin-left: 2px;
}
.user-details h1 {
  font-size: 14px;
  font-size: 600;
  line-height: 13px;
  letter-spacing: -0.3px;
  font-family: "Poppins", sans-serif;
}
.btn-aboutus button {
  border-radius: 100px;
}
.btn-aboutus a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
.testimonial-sec-aboutUs {
  position: relative;
  padding: 7px 0;
}

.liner-aboutUs::before {
  position: absolute;
  content: "";
  background: #3399ff;
  width: 5%;
  height: 1px;
  transform: translateY(50%);
  top: 29%;
  left: 16%;
}
.liner-aboutUs::after {
  position: absolute;
  content: "";
  background: #3399ff;
  width: 10%;
  height: 2px;
  transform: translateY(50%);
  top: 46%;
  left: 16%;
}
#firstdiv {
  width: 450px;
  height: 300px;
  margin-left: 0px;
  border: 3px solid aqua;
  position: absolute;
  border-radius: 3px;
  margin-top: 75px;
}
#seconddiv img {
  margin-top: 117px;
  margin-left: 46px;
  width: 450px;
  height: 300px;
  position: absolute;
  border-radius: 3px;
}
.img-aboutus {
  margin-bottom: 88%;
}
/* Services */
.services {
  margin-top: 80px;
}
.service-desc h1 {
  font-size: 38px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  letter-spacing: -0.3px;
  text-align: center;
}
.service-desc h2 {
  font-size: 15px;
}
.service-img {
  box-shadow: 0 0 20px -3px #ccc;
  border-radius: 5px;
  background: transparent;
}
.service-img h5 {
  font-weight: bold;
  font-size: 20px;
}
/* why choose us */
.chooseUs {
  margin-top: 80px;
}
.testimonial-sec-chooseUs {
  position: relative;
  padding: 7px 0;
}
.liner-chooseUs::before {
  position: absolute;
  content: "";
  background: #3399ff;
  width: 5%;
  height: 1px;
  transform: translateY(50%);
  top: 29%;
  left: 24%;
}
.liner-chooseUs::after {
  position: absolute;
  content: "";
  background: #3399ff;
  width: 10%;
  height: 2px;
  transform: translateY(50%);
  top: 48%;
  left: 24%;
}
.skill-rating h1 {
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #66676c;
  line-height: 45px;
}
.skill-rating p {
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #66676c;
  margin: 16px 0 0 400px;
}

#first-div {
  width: 480px;
  height: 330px;
  border: 3px solid aqua;
  position: absolute;
  border-radius: 3px;
  margin-left: 40px;
  margin-top: 70px;
}
#second-div img {
  margin-top: 100px;
  margin-left: 70px;
  width: 480px;
  height: 330px;
  position: absolute;
  border-radius: 3px;
}
.img-chooseus {
  margin-bottom: 125%;
}
.project-desc h5 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
.project-desc p {
  font-size: 12px;
}

/*  pagination */
.pagination-area {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
  text-align: center;
  margin: 0 5px;
}
.pagination-area p {
  /* margin-top: 10px; */
  color: #3399ff;
  font-weight: 400;
  font-size: 12px;
  line-height: 27px;
}

/* dream project */
.project-area {
  margin-top: 80px;
}
.dream-img {
  box-shadow: 0 0 20px -3px #ccc;
  border-radius: 5px;
  background: transparent;
}
.dream-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 22px 0 0 75px;
  border: 5px double #3399ff;
}
.dream-img h5 {
  font-weight: bold;
  font-size: 20px;
}
.dream-img p {
  font-size: 12px;
  line-height: 7px;
}
.testimonial {
  box-shadow: 0 0 20px -3px #ccc;
  border-radius: 5px;
  background: transparent;
  padding: 2px 0px 5px 0px;
}
/* team */
.our-team {
  margin-top: 80px;
}

/* Tesimonial Area */
.testimonial-area {
  margin-top: 80px;
}
.testimonial-sec {
  position: relative;
  padding: 10px 0;
  text-align: center;
}
.section-title {
  position: relative;

  background: #fff;
  display: inline-block;
  padding: 5px 15px;
}
.section-title::before {
  position: absolute;
  content: "";
  background: #3399ff;
  width: 22%;
  height: 1px;
  transform: translateY(50%);
  top: 34%;
  left: -18%;
}
.section-title::after {
  position: absolute;
  content: "";
  background: #3399ff;
  width: 32%;
  height: 2px;
  transform: translateY(50%);
  top: 46%;
  left: -28%;
}
.liner::before {
  position: absolute;
  content: "";
  background: #3399ff;
  width: 22%;
  height: 1px;
  transform: translateY(50%);
  top: 34%;
  left: 98%;
}
.liner::after {
  position: absolute;
  content: "";
  background: #3399ff;
  width: 32%;
  height: 2px;
  transform: translateY(50%);
  top: 46%;
  left: 98%;
}

/* footer */
.footer-area {
  margin-top: 80px;
}
.news-para p {
  font-size: 12px;
}
.input-group input {
  padding: 0px 10px;
  background: transparent;
  color: #ccc;
}
.input-group button {
  font-size: 12px;
}
.links-details {
  font-size: 12px;
  color: #ccc;
}
.links-details i {
  font-size: 10px;
}
footer {
  margin-top: 30px;
}

footer .round-btn a {
  padding: 0 0 0 9px;
  background-color: transparent;
  color: #ccc;
  font-size: 12px;
}

footer .round-btn {
  box-shadow: 2px 2px 5px 0px #ccc !important;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

footer .round-btn {
  margin: 12px 2px;
}
